body {
  background-color: #591126;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.banner {
  width: auto;
  height: 722px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner img {
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.banner video {
  top: 0;
  right: 0;
  width: auto;
  height: 100%;
}

.banner button {
  position: absolute;
  background-color: #fcdbdb;
  color: #591126;
  text-align: center;
  font-size: 30px;
  font-family: Merriweather;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.inbannerleft {
  width: auto;
  height: 722px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inbannerright {
  width: auto;
  height: 722px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: min-content;
}

#startbtn {
  top: 359px;
  left: auto;
}

#soundan {
  top: 480px;
  left: auto;
}

#catcallvid1 {
  display: none;
}

#catcalls {
  top: 340px;
  left: auto;
}

#catcalls2 {
  top: 480px;
  left: auto;
}

#quizstart {
  top: 500px;
  left: auto;
}

.banner .tasks {
  top: 0;
  right: 0;
  object-fit: cover;
  width: auto;
  height: 100%;
}

.a1 {
  position: absolute;
  top: 370px;
  left: 75.5%;
  background-color: #591126;
  color: #fcdbdb;
  text-align: center;
  font-size: 25px;
  font-family: Merriweather;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.a2 {
  position: absolute;
  top: 480px;
  left: 82%;
  background-color: #591126;
  color: #fcdbdb;
  text-align: center;
  font-size: 25px;
  font-family: Merriweather;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.a3 {
  position: absolute;
  top: 590px;
  left: 80%;
  background-color: #591126;
  color: #fcdbdb;
  text-align: center;
  font-size: 25px;
  font-family: Merriweather;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.a4 {
  position: absolute;
  top: 370px;
  left: 80%;
  background-color: #591126;
  color: #fcdbdb;
  text-align: center;
  font-size: 25px;
  font-family: Merriweather;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.a5 {
  position: absolute;
  top: 480px;
  left: 79.9%;
  background-color: #591126;
  color: #fcdbdb;
  text-align: center;
  font-size: 25px;
  font-family: Merriweather;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.a6 {
  position: absolute;
  top: 590px;
  left: 78%;
  background-color: #591126;
  color: #fcdbdb;
  text-align: center;
  font-size: 25px;
  font-family: Merriweather;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.a7 {
  position: absolute;
  top: 370px;
  left: 79.5%;
  background-color: #591126;
  color: #fcdbdb;
  text-align: center;
  font-size: 25px;
  font-family: Merriweather;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.a8 {
  position: absolute;
  top: 480px;
  left: 79.9%;
  background-color: #591126;
  color: #fcdbdb;
  text-align: center;
  font-size: 25px;
  font-family: Merriweather;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.a9 {
  position: absolute;
  top: 590px;
  left: 79.3%;
  background-color: #591126;
  color: #fcdbdb;
  text-align: center;
  font-size: 25px;
  font-family: Merriweather;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.a10 {
  position: absolute;
  top: 370px;
  left: 80%;
  background-color: #591126;
  color: #fcdbdb;
  text-align: center;
  font-size: 25px;
  font-family: Merriweather;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.a11 {
  position: absolute;
  top: 480px;
  left: 78.5%;
  background-color: #591126;
  color: #fcdbdb;
  text-align: center;
  font-size: 25px;
  font-family: Merriweather;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.a12 {
  position: absolute;
  top: 370px;
  left: 81.3%;
  background-color: #591126;
  color: #fcdbdb;
  text-align: center;
  font-size: 25px;
  font-family: Merriweather;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.a13 {
  position: absolute;
  top: 480px;
  left: 79.4%;
  background-color: #591126;
  color: #fcdbdb;
  text-align: center;
  font-size: 25px;
  font-family: Merriweather;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.a14 {
  position: absolute;
  top: 370px;
  left: 79%;
  background-color: #591126;
  color: #fcdbdb;
  text-align: center;
  font-size: 25px;
  font-family: Merriweather;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.a15 {
  position: absolute;
  top: 480px;
  left: 74.9%;
  background-color: #591126;
  color: #fcdbdb;
  text-align: center;
  font-size: 25px;
  font-family: Merriweather;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#audio1 {
  display: "none";
}
#selectb {
  position: absolute;
  top: 49px;
  left: 83.7%;
  padding: 45px 47px;
  background: none;
  border: none;
  cursor: pointer;
}
#selectt {
  position: absolute;
  top: 49px;
  left: 75%;
  padding: 45px 47px;
  background: none;
  border: none;
  cursor: pointer;
}
#selectt2 {
  position: absolute;
  top: 49px;
  left: 75%;
  padding: 45px 47px;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}
#selectp {
  position: absolute;
  top: 49px;
  left: 92.4%;
  padding: 45px 47px;
  background: none;
  border: none;
  cursor: pointer;
}
#selectp2 {
  position: absolute;
  top: 49px;
  left: 92.4%;
  padding: 45px 47px;
  background: none;
  border: none;
  cursor: pointer;
}
#selectb2 {
  position: absolute;
  top: 49px;
  left: 83.7%;
  padding: 45px 47px;
  background: none;
  border: none;
  cursor: pointer;
}
#neustart {
  position: absolute;
  top: 359px;
  left: 45%;
  background-color: #fcdbdb;
  color: #591126;
  text-align: center;
  font-size: 25px;
  font-family: Merriweather;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
#info {
  position: absolute;
  top: 630px;
  left: 40.2%;
  background-color: #591126;
  color: #fcdbdb;
  text-align: center;
  font-size: 20px;
  font-family: Merriweather;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
