body {
  background-color: #591126;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.banner {
  width: auto;
  height: 722px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner img {
  top: 0;
  left: 0;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.banner video {
  top: 0;
  right: 0;
  width: auto;
  height: 100%;
  max-height: 722px;
}

.inbannerleft button {
  position: absolute;
  background-color: #fcdbdb;
  color: #591126;
  text-align: center;
  font-size: 30px;
  font-family: Merriweather;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.inbannerright button {
  position: absolute;
  background-color: #591126;
  color: #fcdbdb;
  text-align: center;
  font-size: 25px;
  font-family: Merriweather;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.inbannerleft {
  width: auto;
  height: 722px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inbannerright {
  width: auto;
  height: 722px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: min-content;
}

#startbtn {
  top: 359px;
  left: auto;
}

#soundan {
  top: 480px;
  left: auto;
}

#catcallvid1 {
  display: none;
}

#catcalls {
  top: 340px;
  left: auto;
}

#catcalls2 {
  top: 480px;
  left: auto;
}

#quizstart {
  top: 540px;
  left: auto;
}

.banner .tasks {
  top: 0;
  right: 0;
  object-fit: cover;
  width: auto;
  height: 100%;
  max-height: 722px;
}

.a1 {
  top: 370px;
}
.a2 {
  top: 480px;
}
.a3 {
  top: 590px;
}

#audio1 {
  display: "none";
}

.inbannerright .selectb {
  top: 49px;
  padding: 45px 45px;
  background: none;
}
.inbannerright .selectt {
  top: 49px;
  right: 291px;
  padding: 45px 45px;
  background: none;
}
.inbannerright .selectp {
  top: 49px;
  right: 24px;
  padding: 45px 45px;
  background: none;
}

#neustart {
  top: 359px;
  font-size: 20px;
}
#info {
  top: 650px;
  background: #591126;
  color: #fcdbdb;
  font-size: 15px;
}
#info2 {
  top: 600px;
  background: #591126;
  color: #fcdbdb;
  font-size: 20px;
}
